:host {
  > div {
    display: grid;
    justify-content: center;
    min-width: fit-content;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      > button {
        border-color: transparent;
        background-color: transparent;
      }

      > div.board {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        > div.board-top {
          border-top: 1px solid black;
        }
      }
    }
  }
}
