<div
  [style.grid-auto-rows]="gridAutoSize(game.size)"
  [style.grid-auto-columns]="gridAutoSize(game.size)"
>
  <div
    *ngFor="let cell of game.grid"
    [style.grid-column]="cell.x + 1"
    [style.grid-row]="cell.y + 1"
  >
    <button (click)="game.claim(cell.x, cell.y)">⭕</button>
    <div class="board">
      <div
        *ngFor="let quadrant of createArray(4)"
        [class.board-top]="cell.y !== 0 || quadrant > 1"
        [class.board-right]="cell.x !== 0"
      ></div>
    </div>
  </div>
</div>
